.links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
    padding: 2rem 0.6rem 1rem;
    font-size: 14px;
}

.link {
    color: #fff;
    padding: 0.4rem 0.8rem;
    border: 1px solid transparent;
    border-radius: 80px;
}

.active {
    border-color: #F53D0F;
    color: #F53D0F;
}