.wrapper {
    margin-top: 1rem;
    padding: 0 0.6rem 0.6rem 0.6rem;
}

.expand_btn {
    background: #C6C4CF;
    color: #77767C;
    font-size: 14px;
    width: 100%;
    border-radius: 12px;
    margin-top: 0.6rem;
}