.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    max-width: 360px;
    margin: 0 auto;
    position: relative;
    z-index: 901;
}

.title {
    font-size: 24px;
    color: #fff;
    position: relative;
    z-index: 901;
}

.symbol {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.4);
    position: relative;
    z-index: 901;
}